pkgbase = octomap
	pkgdesc = Efficient probabilistic 3D mapping framework based on octrees
	pkgver = 1.10.0
	pkgrel = 1
	url = https://github.com/octomap/octomap
	arch = i686
	arch = x86_64
	license = BSD-3-Clause
	makedepends = cmake
	depends = gcc-libs
	depends = qt5-base
	depends = glu
	depends = libglvnd
	depends = glibc
	provides = octomap
	conflicts = octomap-git
	options = staticlibs
	source = octomap-1.10.0.tar.gz::https://github.com/octomap/octomap/archive/v1.10.0.tar.gz
	sha256sums = 8da2576ec6a0993e8900db7f91083be8682d8397a7be0752c85d1b7dd1b8e992

pkgname = octomap
